<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/img10.jpg" class="img-tumbnail rounded-circle" width="400px" height="400px" />
      <h1 class="display-4">Sahlan Armadi</h1>
      <p class="lead">Web Programing</p>
    </div>
  </div>
</div>
