<div class="card-group">
  <div class="card">
    <img src="img/2.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Call Of Duty</h5>
      <p class="card-text">
        Call of Duty adalah waralaba permainan video penembak orang pertama yang diterbitkan oleh Activision. Dimulai pada tahun 2003, pertama kali berfokus pada permainan yang berlatar Perang Dunia II. Seiring waktu, seri ini telah
        menyaksikan permainan-permainan berlatar di tengah-tengah Perang Dingin, dunia futuristik, dan luar angkasa. Permainan ini pertama kali dikembangkan oleh Infinity Ward, kemudian juga oleh Treyarch dan Sledgehammer Games. Beberapa
        permainan spin-off dan genggam dibuat oleh pengembang lain. Judul terbaru, Call of Duty: Black Ops Cold War, dirilis pada 13 November 2020.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 10 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="img/3.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Point Black</h5>
      <p class="card-text">
        Point Blank adalah sebuah permainan komputer ber-genre FPS yang dimainkan secara online. Permainan ini dikembangkan oleh Zepetto dari Korea Selatan dan dipublikasikan oleh Zepetto. Selain di Korea Selatan, permainan ini mempunyai
        server sendiri di beberapa negara seperti Thailand, Rusia, Indonesia, Brasil, Turki, Amerika Serikat, dan Peru. Di Indonesia, permainan ini sekarang telah dikelola oleh Zepetto.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 1 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="img/4.jpg" class="card-img-top" height="212px" />
    <div class="card-body">
      <h5 class="card-title">PUBG</h5>
      <p class="card-text">
        PlayerUnknown's Battlegrounds (sering disingkat PUBG) adalah sebuah permainan battle royale, di mana 100 orang sekaligus dapat bermain secara daring. Pemenang dari permainan ini adalah individu atau tim yang dapat bertahan hingga
        akhir. Pemain bisa bermain sendirian (solo), tim dengan dua orang (duo), dan tim dengan empat orang (squad). Pemain bisa mengundang teman di daftar teman (friend list) untuk bergabung ke dalam permainan sebagai sebuah tim..
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
